#!/usr/bin/env ruby

require 'nanoc-asciidoctor'

compile '/**/*.html' do
  filter :erb
  layout '/default.*'
end

compile '/posts/*.adoc' do
  filter :colorize_syntax, default_colorizer: :pygmentsrb
  filter :asciidoctor
  layout '/post.*'
end

compile '/**/*.adoc' do
  filter :colorize_syntax, default_colorizer: :pygmentsrb
  filter :asciidoctor
  layout '/default.*'
end

compile '/**/*' do
  write item.identifier.to_s
end


route '/posts/*' do
  y,m,d,slug = /([0-9]+)\-([0-9]+)\-([0-9]+)\-([^\/]+)/.match(@item.identifier.without_ext).captures
  "/#{y}/#{m}/#{slug}/index.html"
end

route '/**/*.{html,adoc}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

layout '/**/*', :erb
