---
title: Home
---

<div class="archive">
    <h1 class="page__title"></h1>
    <p></p>
    <h3 class="archive__subtitle">Recent Posts</h3>
    <% sorted_articles.take(5).each do |post| %>
       <div class="list__item">
           <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
               <h2 class="archive__item-title" itemprop="headline"><%= link_to post[:title], post.path %></h2>
               <p class="page__meta">
                  <i class="fa fa-clock-o" aria-hidden="true"></i> <%= post[:read_time] %>
                  Posted: <%= post[:created_at].strftime("%d/%b/%Y") %> by <%= post[:author_name] %>
               </p>
               <p class="archive__item-excerpt" itemprop="description"><%= post[:excerpt] %></p>
               <!--
               <p class="archive__item-excerpt" itemprop="description"><%= get_post_start(post) %></p>
               -->
           </article>
       </div>
    <% end %>
</div>
