---
title: Year archive
---

<div class="archive">
    <h1 class="page__title"></h1>
    <p></p>
    <h3 class="archive__subtitle">Posts by year</h3>

    <% posts_by_date.each do |year, months_values| %>
      <h2><%= year %></h2>
      <% months_values.each do |month, posts| %>
        <h3><%= Date.parse("#{year}-#{month}-01").strftime("%B %Y") %></h3>
        <% posts.each do |post| %>
            <div class="list__item">
               <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
               <h3 class="archive__item-title" itemprop="headline"><%= link_to post[:title], post.path %></h3>
               </article>
            </div>
        <% end %>
      <% end %>
   <% end %>
</div>
