<% render '/default.*' do %>
<article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="page__inner-wrap">
        <header>
            <h1 class="page__title" itemprop="headline"><%= item[:title] %></h1>
            <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i>
                <%= item[:read_time] %>
                    Posted:
                    <%= item[:created_at].strftime("%d/%b/%Y") %> by
                        <%= item[:author_name] %>
            </p>
        </header>
        <%= yield %>
    </div

    <footer class="page__meta">
      <p class="page__taxonomy">
         <strong><i class="fa fa-fw fa-tags" aria-hidden="true"></i> Tags: </strong>
         <span itemprop="keywords">
               <%= tags_for(item, none_text: "", base_url: "/tags/#", separator: "") %>
         </span>
      </p>

      <p class="page__taxonomy">
         <strong><i class="fa fa-fw fa-folder-open" aria-hidden="true"></i> Categories: </strong>
         <span itemprop="keywords">
            <%= categories_for(item, none_text: "", base_url: "/categories/#", separator: "") %>
         </span>
      </p>

      <p class="page__date">
            <strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> Updated:  </strong><%= item[:created_at].strftime("%B %d, %Y") %></p>
   </footer>

   <!--
   <section class="page__share">
      <h4 class="page__share-title">Share on</h4>
         <a href="https://twitter.com/intent/tweet?via=UnPOUcoDe&text=Configuring your application, Part 2 http://jorgemoral.es/devexp/configuring-your-app-2/" class="btn btn--twitter" title="Share on Twitter"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i><span> Twitter</span></a>
         <a href="https://www.facebook.com/sharer/sharer.php?u=http://jorgemoral.es/devexp/configuring-your-app-2/" class="btn btn--facebook" title="Share on Facebook"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i><span> Facebook</span></a>
         <a href="https://plus.google.com/share?url=http://jorgemoral.es/devexp/configuring-your-app-2/" class="btn btn--google-plus" title="Share on Google Plus"><i class="fa fa-fw fa-google-plus" aria-hidden="true"></i><span> Google+</span></a>
         <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://jorgemoral.es/devexp/configuring-your-app-2/" class="btn btn--linkedin" title="Share on LinkedIn"><i class="fa fa-fw fa-linkedin" aria-hidden="true"></i><span> LinkedIn</span></a>
   </section>

<nav class="pagination">
<a href="http://jorgemoral.es/devexp/configuring-your-app-1/" class="pagination--pager" title="Configuring your application, Part 1
">Previous</a>
<a href="#" class="pagination--pager disabled">Next</a>
</nav>
</div>
-->
</article>
<% end %>
